<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head>
	<title>CSS Free Templates with jQuery Slider</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" href="~/Images/favicon.ico" />
	<link rel="stylesheet" href="~/Content/style.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/bootstrap-theme.min.css" type="text/css" />
	
	<script src="~/Scripts/jquery-1.6.2.min.js" type="text/javascript"></script>
	<!--[if IE 6]>
		<script src="js/DD_belatedPNG-min.js" type="text/javascript" charset="utf-8"></script>
	<![endif]-->
	<script src="~/Scripts/jquery.jcarousel.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="~/Scripts/functions.js" type="text/javascript"></script>
   <script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>
        <script src="~/Scripts/jquery.min.js" type="text/javascript"></script>
    <style type="text/css">
        .box {
            padding:50px;
            font-size:32px;
            font-weight:bold;
            text-align:center;
            background:#f00;
        }
        h2{
            margin: 0;     
            color: #666;
            padding-top: 90px;
            font-size: 52px;
            font-family: "trebuchet ms", sans-serif;    
        }
        .item
        {
            background: #333;    
            text-align: center;
            height: 300px !important;
        }
        .carousel{
             margin-top: 20px;
        }
        .bs-example{
	        margin: 20px;
        }

    </style>
    
</head>
<body>
    @RenderBody()
    </body>

</html>
