@{
    ViewBag.Title = "Mobile";
    Layout ="~/Views/Shared/common.cshtml";
}
@model Final_Project.Models.Product
		<!-- End Search -->
		<!-- Begin Header -->
		<div id="header" class="shell">
			<h1 id="logo"><a class="notext" href="#" title="PC Store">PC Store</a></h1>
		</div>
		<!-- End Header -->
		<!-- Begin Navigation -->
		<div id="navigation">
			<div class="shell">
				<ul>
                    <li><a href="~/Account/Signin" title="Log In">@ViewBag.Name</a></li>
					<li><a href="#" title="Home">Home</a></li>
					<li><a href="#" title="Special Offers">Special Offers</a></li>
					<li><a href="~/Account/Register" title="Account">Register</a></li>
					<li><a href="#" title="Contact">Contact</a></li>
                    <li><a href="/Account/Logout" title="Logout">Logout</a></li>
				</ul>
				<div class="cl">&nbsp;</div>
			</div>
		</div>
		<!-- End Navigation -->
		<!-- Begin Slider -->
		<div id="slider">
			<div class="slider-outer">
				<div class="slider-inner shell">
					<!-- Begin Slider Items -->
					<ul class="slider-items">
						<li>
							<img src="~/Images/slide-img1.jpg" alt="Slide Image 1" />
							<div class="slide-entry">
								<h2>Some Tittle Here</h2>
								<h3>Sed condimentum metus at risus </h3>
								<p>Maecenas eget purus arcu, in vestibulum libero. Ali-quam facilisis rhoncus eros, quis rutrum dolor tincid-unt ac. Duis vel consequat justo.</p>
							</div>
							<a href="#" class="more" title="View More">View More</a>
						</li>
						<li>
							<img src="~/Images/slide-img1.jpg" alt="Slide Image 2" />
							<div class="slide-entry">
								<h2>Some Tittle Here</h2>
								<h3>Sed condimentum metus at risus </h3>
								<p>Maecenas eget purus arcu, in vestibulum libero. Ali-quam facilisis rhoncus eros, quis rutrum dolor tincid-unt ac. Duis vel consequat justo.</p>
							</div>
							<a href="#" class="more" title="View More">View More</a>
						</li>
						<li>
							<img src="~/Images/slide-img1.jpg" alt="Slide Image 3" />
							<div class="slide-entry">
								<h2>Some Tittle Here</h2>
								<h3>Sed condimentum metus at risus </h3>
								<p>Maecenas eget purus arcu, in vestibulum libero. Ali-quam facilisis rhoncus eros, quis rutrum dolor tincid-unt ac. Duis vel consequat justo.</p>
							</div>
							<a href="#" class="more" title="View More">View More</a>
						</li>
						<li>
							<img src="~/Images/slide-img1.jpg" alt="Slide Image 4" />
							<div class="slide-entry">
								<h2>Some Tittle Here</h2>
								<h3>Sed condimentum metus at risus </h3>
								<p>Maecenas eget purus arcu, in vestibulum libero. Ali-quam facilisis rhoncus eros, quis rutrum dolor tincid-unt ac. Duis vel consequat justo.</p>
							</div>
							<a href="#" class="more" title="View More">View More</a>
						</li>
						<li>
							<img src="~/Images/slide-img1.jpg" alt="Slide Image 5" />
							<div class="slide-entry">
								<h2>Some Tittle Here</h2>
								<h3>Sed condimentum metus at risus </h3>
								<p>Maecenas eget purus arcu, in vestibulum libero. Ali-quam facilisis rhoncus eros, quis rutrum dolor tincid-unt ac. Duis vel consequat justo.</p>
							</div>
							<a href="#" class="more" title="View More">View More</a>
						</li>
					</ul>
					<!-- End Slider Items -->
					<div class="cl">&nbsp;</div>
					<div class="slider-controls">
						
					</div>
				</div>
			</div>
			<div class="cl">&nbsp;</div>
		</div>
		<!-- End Slider -->
		<!-- Begin Main -->
		<div id="main">
			<!-- Begin Inner -->
			<div class="inner">
				<div class="shell">
					<!-- Begin Left Sidebar -->
					<div id="left-sidebar" class="sidebar">
						<ul>
							<li class="widget">
								<h2>Categories</h2>
								<div class="widget-entry">
									<ul>
										<li><a href="~/Home/Desktop" title="Desktops"><span>Desktops</span></a></li>
										<li><a href="/Home/Laptop" title="Laptops &amp; Notebooks"><span>Laptops</span></a></li>
                                        	<li><a href="/Home/Notebook" title="Laptops &amp; Notebooks"><span>Notebooks</span></a></li>
										<li><a href="/Home/Component" title="Components"><span>Components</span></a></li>
										<li><a href="/Home/Software" title="Software"><span>Software</span></a></li>
										<li><a href="/Home/Mobile" title="Phones &amp; PDAs"><span>Phones</span></a></li>
                                        <li><a href="/Home/Software" title="Software"><span>PDA</span></a></li>
										<li><a href="/Home/Camera" title="Cameras"><span>Cameras</span></a></li>
										<li class="last"><a href="/Home/MP3" title="MP3 Players"><span>MP3 Players</span></a></li>
									</ul>
								</div>
							</li>
							<li class="widget">
								<h2>Information</h2>
								<div class="widget-entry">
									<ul>
										<li><a href="/Home/about" title="About Us"><span>About Us</span></a></li>
										<li><a href="/Home/privacy" title="Privacy Policy"><span>Privacy Policy</span></a></li>
										<li><a href="#" title="Terms &amp; Conditions"><span>Terms &amp; Conditions</span></a></li>
										<li><a href="#" title="Contact Us"><span>Contact Us</span></a></li>
										<li class="last"><a href="#" title="Site Map"><span>Site Map</span></a></li>
									</ul>
								</div>
							</li>
							<li class="widget">
								<h2>Shopping Card</h2>
								<div class="widget-entry">
									<a href="#" class="items" title="Shopping Card Items">0 items</a>
								</div>
							</li>
						</ul>
					</div>
					<!-- End Sidebar -->
					<!-- Begin Content -->
					<div id="content">
						<!-- Begin Post -->
						<div class="post">
							<h2>Welcome to Notebook store<span class="title-bottom">&nbsp;</span></h2>
							<p>Maecenas eget purus arcu, in vestibulum libero. Aliquam facilisis rhoncus eros, quis rutrum dolor tincid-unt ac. Duis vel consequat justo. Praesent felis mauris, ultricies nec tincidunt vitae, dignissim ac risus. Suspendisse in sem sit amet quam adipiscing interdum. Cras ac lacinia enim. Fusce eros odio, lacinia id egestas id, adipiscing a erat. Integer lacinia augue quis eros condimentum ac varius nunc lacinia. </p>
						</div>
						<!-- End Post -->
						<!-- Begin Products -->
						<div id="products">
							<h2>Software Products<span class="title-bottom">&nbsp;</span></h2>
                            @* <div class="product">
								    <a href="#" title="Product 1">
									    <img src="~/Images/sam_s5.jpg" alt="Product Image 1" id="image1" style="width:175px;height:150px"/>
                                        <input type="button" value="Add new Product" class="btn btn-success btn-lg" />
                                     
								    </a>
							    </div>
                              <div class="product">
								    <a href="#" title="Product 1">
									    <img src="~/Images/sam_s5.jpg" alt="Product Image 1" id="image12" style="width:175px;height:150px"/>
                                        <input type="button" value="Update Product" class="btn btn-success btn-lg" />
                                     
								    </a>
							    </div>
                              <div class="product">
								    <a href="#" title="Product 1">
									    <img src="~/Images/sam_s5.jpg" alt="Product Image 1" id="image3" style="width:175px;height:150px"/>
                                        <input type="button" value="Delete Product" class="btn btn-success btn-lg" />
                                     
								    </a>
							    </div>*@
						 <div class="container">
        <div class="row">
            <div class="col-md-4"><a href="/Account/Add_Product"><p class="box">Add Product</p></a></div><br />
            <div class="col-md-4"><a href="~/Account/Update_Product"><p class="box">Update Product</p></a></div><br />
            <div class="col-md-4"><a href="~/Account/Delete_Product"><p class="box">Delete Product</p></a></div>
        </div>
    </div>

							<div class="cl">&nbsp;</div>
							<div class="cl">&nbsp;</div>
						</div>
						<!-- End Products -->
					</div>
					</div>
					<!-- End Sidebar -->
					<div class="cl">&nbsp;</div>
				</div>
			</div>
			<!-- End Inner -->
		</div>
		<!-- End Main -->
		<!-- Begin Footer -->
		<div id="footer">
			<div class="shell">
				<p class="bottom-menu"><a href="#" title="Home">Home</a><span>|</span><a href="#" title="Special Offers">Special Offers</a><span>|</span><a href="#" title="Log In">Log In</a><span>|</span><a href="/Home/Register" title="Account">Register</a><span>|</span><a href="#" title="Basket">Basket</a><span>|</span><a href="#" title="Checkout">Checkout</a><span>|</span><a href="#" title="Contact">Contact</a></p>
				<p>Copyright &copy; PC Store 2012. Design by: <a href="http://css-free-templates.com/" title="CSS Free Templates">CSS-Free-Templates</a>. All Rights Reserved. </p>
				<div class="cl">&nbsp;</div>
			</div>
		</div>
		<!-- End Footer -->
	<!-- End Wrapper -->