@{
    ViewBag.Title = "getSearchData";
}
<h2>hello</h2>
@* <img src="~/Images/@Model.link" style="height:300px;width:300px;margin-left:300px;margin-top:100px"/>
<h4 style="margin-left:300px">Product Name:    @Model.title</h4> 
<h4 style="margin-left:300px">Price:  @Model.price</h4>
<h4 style="margin-left:300px">Feature:  @Model.description</h4>

<h4 style="margin-left:300px">Category:  @Model.Category</h4>*@
