@{
    ViewBag.Title = "Signin";
    Layout = null;
}
@model Final_Project.Models.Admin
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bootbusiness | Short description about company">
    <meta name="author" content="Your name">
      <script type="text/javascript" src="~/Scripts/jquery-1.7.1.js"></script>
      <script type="text/javascript">
          $(document).ready(function () {
              $("#exist").hide();
              $("#email1").hide();
              $("#pass1").hide();
              $("#signin").click(function () {
                  var email = $("#email").val();
                  var password = $("#pass").val();
                  if (email == "" && password == "")
                  {
                      $("#email1").show();
                      $("#pass1").show();
                      $("#email2").text("Fill it");
                      $("#pass2").text("Fill it");
                  }
                  else if (email =="")
                  {
                      $("#email1").show();
                      $("#email2").text("Fill it");
                  }
                  else if (password == "") {
                      $("#pass1").show();
                      $("#pass2").text("Fill it");
                  }
                  else {
                      $.getJSON("/Account/Check_For_Admin?mail=" + email + "&pass=" + password, function (data) {
                          if (data == false) {
                              $("#exist").show();
                              $("#exist2").text("Email or password is incorrect");
                          }
                          else
                          {
                              var url = '/Account/Admin_Panel';
                              window.location.href = url;
                          }
                      });
                  }
              });
              $("#email").keyup(function () {
                  $("#exist").hide();
                  $("#email1").hide();
              });
              $("#pass").keyup(function () {
                  $("#exist").hide();
                  $("#pass1").hide();
              });
          });
      </script>
    <title>Bootbusiness | Give unique title of the page here</title>
    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap responsive -->
    <link href="~/Content/bootstrap-responsive.min.css" rel="stylesheet">
    <!-- Font awesome - iconic font with IE7 support --> 
    <link href="~/Content/font-awesome.css" rel="stylesheet">
    <link href="~/Content/font-awesome-ie7.css" rel="stylesheet">
    <!-- Bootbusiness theme -->
    <link href="~/Content/boot-business.css" rel="stylesheet"> 
      <script src="~/Scripts/bootstrap.js" type="text/javascript"></script>
     
      <script src="~/Scripts/jquery.validate.js" type="text/javascript"></script>
      <script src="~/Scripts/jquery.validate.min.js"></script>
      <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
      <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
  </head>
  <body>
    <!-- Start: HEADER -->
    <header>
      <!-- Start: Navigation wrapper -->
        <nav class="nav navbar-inverse">
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner" >
          <div class="container">
            <a href="index.html" class="brand brand-bootbus">Online Shopping</a>
            <!-- Below button used for responsive navigation -->
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
              </div>
            </div>
          </div>
            </nav>
            
    </header>
    <!-- End: HEADER -->
    <!-- Start: MAIN CONTENT -->
    <div class="content">
      <div class="container">
        <div class="page-header">
          <h1>Welcome Admin</h1>
        </div>
          <form method="post" action="/Home/Check_For_Admin" >
        <div class="row">
          <div class="span6 offset3">
            <h4 class="widget-header"><i class="icon-gift"></i>Admin Login</h4>
            <div class="widget-body">
              <div class="center-align">
                    <div id="valid"></div>
                    <div class="form-horizontal form-signin-signup">
                        <div id="exist"><p id="exist2" style="font-size:10px;margin-right:260px"></p></div>
                 
                        @Html.TextBoxFor(model=>model.Email, new {@id="email",@placeholder="Email" ,@required="required"})
                        @Html.ValidationMessageFor(model => model.Email)
                        <div id="email1"><p id="email2" style="font-size:10px;margin-right:370px"></p></div>
                        @Html.PasswordFor(model=>model.Password, new {@id="pass", @placeholder="Password",@required="required"})
                        @Html.ValidationMessageFor(model => model.Password)
                        <div id="pass1"><p id="pass2" style="font-size:10px;margin-right:370px"></p></div>

                        <br />
                        <br />
                        <div>
                        <input type="button" value="Signin" id="signin" class="btn btn-primary btn-large">
                        </div>
                         </div>
                <h4><i class="icon-question-sign"></i>Not have account yet?</h4>
                <a href="/Home/Register" class="btn btn-large bottom-space">Signup</a>
              </div>
            </div>
          </div>
        </div>
              </form>
      </div>
        
    </div>
    <!-- End: MAIN CONTENT -->
    <!-- Start: FOOTER -->
    <footer>
      <p>copy rights to shehzad</p>
    </footer>
    <!-- End: FOOTER -->
    <script type="text/javascript" src="~/Scripts/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/boot-business.js"></script>
  </body>
</html>
