@{
    ViewBag.Title = "Checkout";
}

<h2>Checkout</h2>
<table border="1" style="margin-left:200px;margin-top:100px">
    <tr>
        <th>
            Image
        </th>
        <th>
            ID
        </th>
        <th>
            Category
        </th>
        <th>
            Title
        </th>
        <th>
            Price
        </th>
    </tr>
@foreach (var q in Model)
{
     <tr>
         <td>
             <img src="~/Images/@q.link" />
         </td>
         <td>
             @q.Id
         </td>
         <td>
             @q.Category
         </td>
         <td>
             @q.title
         </td>
         <td>
             @q.price
         </td>
     </tr>
}
</table>
<a href="/Home/Buy"><h2>Do You Want to Buy</h2></a>