@{
    ViewBag.Title = "footer";
}
	<p class="bottom-menu"><a href="/Home/Index" title="Home">Home</a><span>|</span><a href="/Home/Special" title="Special Offers">Special Offers</a><span>|</span><a href="/Account/Signin" title="Log In">Admin Login</a><span>|</span><a href="/Home/Checkout" title="Checkout">Checkout</a><span>|</span><a href="/Home/Contact" title="Contact">Contact</a></p>
<p>Copyright &copy; PC Store 2012. Design by: <a href="http://css-free-templates.com/" title="CSS Free Templates">CSS-Free-Templates</a>. All Rights Reserved. </p>
