@{
    ViewBag.Title = "Items";
}
<ul>
										<li><a href="~/Home/Desktop" title="Desktops"><span>Desktops</span></a></li>
										<li><a href="/Home/Laptop" title="Laptops &amp; Notebooks"><span>Laptops</span></a></li>
                                        	<li><a href="/Home/Notebook" title="Desktops"><span>Notebooks</span></a></li>
										<li><a href="/Home/Component" title="Components"><span>Components</span></a></li>
										<li><a href="/Home/Software" title="Software"><span>Software</span></a></li>
										<li><a href="/Home/Phone" title="Phones &amp; PDAs"><span>Phones</span></a></li>
                                        	<li><a href="/Home/PDA" title="Desktops"><span>PDA</span></a></li>
										<li><a href="/Home/Camera" title="Cameras"><span>Cameras</span></a></li>
										<li class="last"><a href="/Home/MP3" title="MP3 Players"><span>MP3 Players</span></a></li>
									</ul>
