@{
    ViewBag.Title = "share2";
}
<ul>
										<li><a href="/Home/About" title="About Us"><span>About Us</span></a></li>
										<li><a href="/Home/Privacy" title="Privacy Policy"><span>Privacy Policy</span></a></li>
										<li><a href="/Home/Term" title="Terms &amp; Conditions"><span>Terms &amp; Conditions</span></a></li>
										<li><a href="/Home/Contact" title="Contact Us"><span>Contact Us</span></a></li>
									</ul>
