<html>
    <head>
        <title>

        </title>
    </head>
    <body>
        <ul>
            <li><a href="#" title="loo">@ViewBag.Name</a></li>
					<li><a href="/Home/Index" title="Home">Home</a></li>
					<li><a href="/Home/Special" title="Special Offers">Special Offers</a></li>
					<li><a href="~/Account/Signin" title="Log In">Admin Log In</a></li>
					<li><a href="~/Account/Register" title="Account">Register</a></li>
					<li><a href="/Home/Contact" title="Contact">Contact</a></li>
            <li><a href="/Home/Logout" title="Logout">Logout</a></li>
</ul>
    </body>
</html>
